* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media screen and (min-width: 768px) {
  /* dit is voor medium schermen en groter */


  /* dit is voor de header */
  .header-container {
    padding: 20px 50px;
    max-height: 100px;
  }

  .logo-1 {
    margin-left: 85px;
  }

  .logo-2 {
    height: 70px;
    width: 63px;
    margin-right: 100px;
    position: relative;
    left: 900px;
  }

  /* dit is voor voor de hero */
  .hero-container {
    background-color: #ffffff;
  }

  .hoogte-hero {
    height: 800px;
    padding: 0!important;
  }

  .marge-hero {
    margin-left: 160px;
    padding: 80px 0;
  }

  .nieuw-container {
    background-color: #f0f0f0;
    display: inline-block;
    border-radius: 25px;
    padding: 2px 20px;
    font-weight: 600;
  }

  .nieuw {
    color: #747474;
  }

  .hero-header-1 {
    font-family: 'Hyundai Sans Text Office', sans-serif; /* Hier wordt het lettertype toegepast op de body van de pagina */
    font-weight: 800; /* Zorg ervoor dat het gewicht overeenkomt met wat je hebt ingesteld in @font-face */
    font-size: 63px;
    color: #002e6b;
    letter-spacing: -3px;
  }


  .hero-header-2 {
    font-family: 'Hyundai-Sans-Medium', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #002e6b;
  }

  .paragraaf-1 {
    font-family: 'Hyundai-Sans-Regular';
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 17px;
    width: 70%;
  }

  .paragraaf-2 {
    font-family: 'Hyundai-Sans-Medium';
    font-size: 17px;
    font-weight: 700;
    color: black;
  }


  .voorwaarde {
    font-family: Hyundai-Sans-Medium;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    color: #c1c1c1;
    position: absolute;
    bottom: -160px;

  }

  /* dit is voor de card in de hero */
  .card-container {
    width: 700px;
    position: absolute;
    left: 160px;
    bottom: 0px;
    z-index: 999;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .card-grens { 
    border: none!important;
  }

  .card-text {
    color: #002e6b; 
    font-weight: bold;
    margin-left: 10px;
  }

  .card-knop {
    background-color: #002e6b!important;
    font-weight: bold;
    color: white!important;
    border: none;
    padding: 21px 14px!important;
  }

  .card-knop-icoon {
    color: #ffffff;
    margin-left: 10px;
  }

  /* dit is voor de carousel */
  .foto-carousel-1 {
    width: 735px!important;
    height: 745px!important;
    object-fit: cover!important;
    border-radius: 0 0 0 70px!important;
  }

  .ontdek-meer-link {
    position: absolute!important;
    bottom: 50px;
    left: 100px;
    z-index: 5;
    letter-spacing: 5px;
    font-size: 18px;
  }

  .pijl-links {
    position: absolute;
    bottom: 50px;
    left: 600px;
    z-index: 1;
    font-size: 24px;
    color: white;
    
  }

  .pijl-rechts {
    position: absolute;
    bottom: 50px;
    right: 70px;
    z-index: 1;
    font-size: 24px;
    color: white;
  }



  /* sector 2 */

.sector-2 {
  height: 1000px;
  width: 100%;
  background-color: #F2F8FF;
  display: flex;

}

.sector-2-foto {
  margin-top: 80px;
  width: 100%;
}

.sector-2-tekst-container {
  margin-top: 160px;
  margin-left: 30px;
}

.sector-2-tekst-1 {
  color: #002e6b;
  font-family: Hyundai-Sans-Regular;
  font-size: 18px;
  font-weight: 600;
}

.sector-2-tekst-2 {
  color: #002e6b;
  font-family: Hyundai-Sans-Medium;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
}


.sector-2-lijst li {
  font-family: Hyundai-Sans-Regular;
  font-size: 18px;
  color: black;
  margin-top: 5px;
}


/* dit is voor de cards in sector 2 */
.plaatsing-cards {
  position: absolute;
  bottom: -1115px;
}


.cards-container {
  height: 180px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  width: 235px;
  height: 180px;
  background-color: white;
  margin-left: 7px;
  border: none!important;
  border-radius: 20px!important;

}

.cards-icoon {
  height: 41px;
  width: 41px;
  margin-left: 21px;
  margin-top: 21px;
  margin-bottom: 25px;
}

.cards-text {
  font-family: Hyundai-Sans-Bold;
  font-size: 18px;
  font-weight: 700;
  color: #002e6b;
  line-height: 1.5;
  margin-left: 21px;
}

/* sector 3 */

.sector-3 {
  height: 1000px;
}

.sector-3-tekst-1 {
  color: #002e6b;
  font-size: 16px;
  font-weight: 500;
  font-family: Hyundai-Sans-Regular;
  text-align: center;
}

.sector-3-tekst-2 {
  color: #002e6b;
  font-family: Hyundai-Sans-Medium;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}


}


























@media screen and (max-width: 767px) {
  /* voor kleine schermen */

  .header-container {
    height: 88px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    background-color: white;
  }

.logo-1,
.logo-2 {
  max-width: 100%;
  max-height: 100%;
}

  /* voor de hero */

  .nieuw-container {
    background-color: #f0f0f0;
    display: inline-block;
    border-radius: 25px;
    padding: 2px 20px;
    font-weight: 600;

  }

  .nieuw {
    color: #747474;
  }

  .hero-header-1 {
    font-family: 'Hyundai Sans Text Office', sans-serif;
    font-weight: 800;
    font-size: 35px;
    color: #002e6b;
    letter-spacing: -3px;
  }

  .hero-header-2 {
    font-family: 'Hyundai-Sans-Medium', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #002e6b;
  }

  .paragraaf-1 {
    font-family: 'Hyundai-Sans-Regular';
     margin-bottom: 0;
    font-size: 11px;
    width: 70%;
  }

  .paragraaf-2 {
    font-family: 'Hyundai-Sans-Medium';
    font-size: 11px;
    font-weight: 700;
    color: black;
  }



  /* dit is voor de carousel */
  #carouselexpample {
    width: 100%;
  }

  #carousel-klein {
    padding: 0!important;
  }
  



 .carousel-item img {
  width: 100%; /* 1 */
  height: 300px; /* 2 */
  object-fit: cover; /* 3 */
}

.carousel-item {
  display: block;
}


.pijl-links {
  z-index: 999;
  font-size: 20px;
  cursor: pointer;
}

.pijl-rechts {
  z-index: 999;
  font-size: 20px;
  cursor: pointer;
}


.ontdek-meer-link {
  color: white;
  font-family: 'Hyundai-Sans-Regular', sans-serif;
  font-size: 12px;
  z-index: 9999;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%); /* Centreer het element horizontaal */

}






/* dit is voor de card */


.card-container {
  width: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 110px; /* Pas de waarde aan om de kaart hoger te plaatsen */
  z-index: 999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center; /* Centreer de tekst in de kaart */

}



.card-grens {
  padding-top: 15px;
  padding-bottom: 10px;
}



.card-text {
  color: #002e6b;
  font-weight: bold;
  margin: 0 auto;
  font-size: 15px;
}

.card-knop-container {
  padding-bottom: 10px;  
}

.card-knop {
  background-color: #002e6b!important;
  font-weight: bold;
  color: white!important;
  border: none;
  padding: 21px 14px!important;
  width: 180.56px;
  height: 64.6px;
}

.card-knop-icoon {
  color: #ffffff;
  margin-left: 10px;
}

.voorwaarde {
  font-size: 10px;
  position: absolute;
  bottom: 10px;
}


/* volgende sectie */

.move-to-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #002e6b;
  position: absolute;
  bottom: -40px;
  right: 20px;
}


/* sector 2 kleine schermen */

.sector-2 {
  padding: 20px; /* Voeg wat ruimte toe rondom de sectie */
}

.col-sm-12.col-lg-6 {
  width: 100%; /* Maak de kolommen volledig breed op kleine schermen */
  margin-bottom: 20px; /* Voeg ruimte toe tussen de kolommen */
}

.sector-2-foto {
  max-width: 100%; /* Zorg ervoor dat de foto niet breder is dan de container */
  height: auto; /* Behoud de aspect ratio van de foto */
  display: block; /* Zet de foto als block element voor betere responsiviteit */
  margin-bottom: 20px; /* Voeg wat ruimte toe onder de foto */
}

.sector-2-tekst-container {
  text-align: center; /* Centreer de tekst in het tekstgedeelte */
}

.sector-2-lijst {
  padding-inline-start: 0; /* Verwijder standaard lijststijlen */
  text-align: center; /* Centreer de lijstitems */
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centreer de cards horizontaal */
}

.cards {
  width: 45%; /* Maak de cards wat smaller voor een betere indeling */
  margin: 0 5px 20px; /* Voeg wat ruimte toe tussen de cards */
}





}